rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    // Connection test doc
    match /test/{testDoc} {
      allow read: if true;
    }

    // Allow authenticated users to read and write all documents
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}

